/* Mesa CSS */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body {
	background-color: #ffffff;
	font: 14px Roboto, sans-serif;
	color: black;
	margin: 0;
}

code {
	font-family: monospace;
	font-size: 10pt;
}

pre {
	font-size: 10pt;
	background-color: #eee;
	margin-left: 2em;
	padding: .5em;
}

a {
	color: #0071f8;
	text-decoration: none;
}

a:hover {
	color: #004da8;
	text-decoration: none;
}

nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #252523;
	color: white;
	border-radius: 0rem 0rem 0.5rem 0.5rem;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
	width: 100%;
	margin-bottom: 0.5em;
}

.nav-title {
	display: flex;
	padding: 0.2em 1em 0.2em 0.5em;
	align-items: center;
	text-align: center;
	font-size: 1.4em;
}

.nav-item {
	font-size: 1.2em;
	color: #dcdcdc;
	margin-right: 1em;
}

.nav-item:hover {
	color: #999999;
}

main {
	margin: auto;
	width: 96%;
}

.page-title {
	border-bottom: 0.15em solid #0071f8;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
}

.results-table {
	display: grid;
	grid-template-columns: 90px 110px minmax(150px, 1fr);
	border-bottom: 1px solid #dde1e6;
}

.device-table {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	border-bottom: 1px solid #dde1e6;
}

.table-header {
	font-weight: bold;
	text-align: center;
	padding: 0.3em;
	justify-content: center;
	background-color: #dde1e6;
}

.table-cell {
	padding: 0.2em;
	margin: auto;
}

.status-cell-container {
	display: flex;
	justify-content: flex-start;
	grid-gap: 0.2em;
}

.status-cell {
	display: flex;
	padding: 0.2em 0.4em 0.2em 0.4em;
	border-radius: 0.4em;
	margin: auto 0.1em auto 0.1em;
	justify-content: center;
	align-items: center;
}

img.status {
	width: 20px;
	padding-left: 0.2em;
	vertical-align: middle;
}

a.result {
	color: #252523;
}

a.result:hover {
	color: black;
	text-decoration: underline;
}

div.fail {
	background-color: #e57681;
}

div.pass {
	background-color: #70c185;
}

div.unknown {
	background-color: #fed365;
	border-radius: 0.4em;
}

.image-diff-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image-box {
	padding: 0.5em;
	border: 0.1em solid #0071f8;
	border-radius: 0.3em;
	text-align: center;
	margin: 1em;
}

footer {
	font-size: 80%;
	font-weight: 400;
	text-align: center;
	color: #6c757d;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.footer-list {
	padding-left: 0;
	list-style: none;
}
