<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Mesa Traces CI Dashboard</title>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto" as="style">
    <link rel="stylesheet"  href="{% static "css/tracie.css" %}"/>
</head>
<body>

<nav>
  <div class="nav-title">
    <a href="https://www.mesa3d.org/"  target="_blank" rel="license noopener">
      <img src="{% static 'images/gears.png' %}" width="50px">
    </a>
     Mesa Traces CI Dashboard
  </div>
  <a class="nav-item" href="{% url 'project' project_path %}">Pipelines</a>
  <a class="nav-item" href="{% url 'devices' project_path %}">Devices</a>
  </div>
</div>
</nav>

<main>
  {% block content %}
  {% endblock content %}
</main>

<footer>
  <ul class="footer-list">
    <li>git commit: {{ GIT_COMMIT_ID }}</li>
    <li><a href="https://gitlab.freedesktop.org/gfx-ci/tracie/tracie_dashboard">GitLab repo</a></li>
    <li>Hosted by <a href="https://www.freedesktop.org/">Freedesktop.org</a></li>
  </ul>
</footer>
</body>
</html>
