{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
<h1 class="page-title">
    Trace result for
    pipeline <a href="{{job_result.pipeline_result.url}}">{{job_result.pipeline_result.id}}</a>
    - job <a href="{{job_result.url}}">{{job_result.id}}</a>
</h1>

<h3>
    <span><strong>Device</strong>: {{job_result.device}} </span>
    <img class="status" src="{% static 'images/'|add:job_result.status|add:'.png' %}">
</h3>
<p><strong>Mesa SHA</strong>:
    {% if job_result.pipeline_result.mesa_sha %}
    <a href="{{job_result.pipeline_result.mesa_url}}">{{ job_result.pipeline_result.mesa_sha }}</a>
    {% endif %}

    {{job_result.timestamp}}
</p>

<table>
    <tr>
        <th>Trace</th>
        <th>Result</th>
    </tr>

    {% for t in job_result.trace_results.all %}
    <tr>
        <td>{{t.name}}</td>
        <td class="status-cell">
            <a href="{% url 'imagediff' project_path job_result.id t.name %}">
                <img class="status" src="{% static 'images/'|add:t.status|add:'.png' %}">
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock content %}
